<div class="container-xxl">

  <ul class="list-unstyled py-4">

      <!-- Message: Right -->
      <li class="d-flex message right">

          <div class="message-body">
              <span class="date-time text-muted">7:19 PM <i class="zmdi zmdi-check-all text-primary"></i></span>

              <div class="message-row d-flex align-items-center justify-content-end">

                  <!-- Message: dropdown -->
                  <div class="dropdown">
                      <a class="text-muted me-1 p-2 text-muted" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="zmdi zmdi-more-vert"></i>
                      </a>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Edit</a>
                          <a class="dropdown-item" href="#">Share</a>
                          <a class="dropdown-item" href="#">Delete</a>
                      </div>
                  </div>
                  <!-- End Message: dropdown -->

                  <!-- Message: content -->
                  <div class="message-content border p-3">
                      Hello, Michelle
                  </div>

              </div>
          </div>

      </li>

      <!-- Message: Divider -->
      <li class="d-flex message divider mt-xl-5 mt-md-3 mb-xl-5 mb-md-3">
          <small class="text-muted">Sunday</small>
      </li>
      <!-- End message divider -->

      <!-- Message: Left -->
      <li class="d-flex message">

          <!-- Avatar -->
          <div class="mr-lg-3 me-2">
              <img class="avatar sm rounded-circle" src="assets/images/xs/avatar1.jpg" alt="avatar">
          </div>
          <!-- End Avatar -->

          <div class="message-body">
              <span class="date-time text-muted">Michelle, 7:19 PM</span>

              <div class="message-row d-flex align-items-center">

                  <!-- Message: content -->
                  <div class="message-content p-3">
                      Hello, <br> How are you?
                  </div>

                  <!-- Message: dropdown -->
                  <div class="dropdown">
                      <a class="text-muted ms-1 p-2 text-muted" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="zmdi zmdi-more-vert"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" href="#">Edit</a>
                          <a class="dropdown-item" href="#">Share</a>
                          <a class="dropdown-item" href="#">Delete</a>
                      </div>
                  </div>
                  <!-- End Message: dropdown -->

              </div>
          </div>

      </li>

      <!-- Message: Left -->
      <li class="d-flex message">

          <!-- Avatar -->
          <div class="mr-lg-3 me-2">
              <img class="avatar sm rounded-circle" src="assets/images/xs/avatar1.jpg" alt="avatar">
          </div>
          <!-- End Avatar -->

          <div class="message-body">
              <span class="date-time text-muted">Michelle, 7:19 PM</span>

              <div class="message-row d-flex align-items-center">

                  <!-- Message: content -->
                  <div class="message-content p-3">
                      Okay, All the Lorem Ipsum generators on the Internet
                  </div>

                  <!-- Message: dropdown -->
                  <div class="dropdown">
                      <a class="text-muted ms-1 p-2 text-muted" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="zmdi zmdi-more-vert"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" href="#">Edit</a>
                          <a class="dropdown-item" href="#">Share</a>
                          <a class="dropdown-item" href="#">Delete</a>
                      </div>
                  </div>
                  <!-- End Message: dropdown -->

              </div>
          </div>

      </li>

      <!-- Message: Right -->
      <li class="d-flex message right">

          <div class="message-body">
              <span class="date-time text-muted">7:19 PM <i class="zmdi zmdi-check-all text-primary"></i></span>

              <div class="message-row d-flex align-items-center justify-content-end">

                  <!-- Message: dropdown -->
                  <div class="dropdown">
                      <a class="text-muted me-1 p-2 text-muted" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="zmdi zmdi-more-vert"></i>
                      </a>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Edit</a>
                          <a class="dropdown-item" href="#">Share</a>
                          <a class="dropdown-item" href="#">Delete</a>
                      </div>
                  </div>
                  <!-- End Message: dropdown -->

                  <!-- Message: content -->
                  <div class="message-content border p-3">
                      Hello, David
                  </div>

              </div>
              <div class="message-row d-flex align-items-center justify-content-end">

                  <!-- Message: dropdown -->
                  <div class="dropdown">
                      <a class="text-muted me-1 p-2 text-muted" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="zmdi zmdi-more-vert"></i>
                      </a>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Edit</a>
                          <a class="dropdown-item" href="#">Share</a>
                          <a class="dropdown-item" href="#">Delete</a>
                      </div>
                  </div>
                  <!-- End Message: dropdown -->

                  <!-- Message: content -->
                  <div class="message-content border p-3">
                      We have send some project shot, please review
                      <div class="attachment right-file">
                          <img class="rounded mt-1" src="assets/images/image-file/one-page-work-1.jpg" alt="" />
                          <img class="rounded mt-1" src="assets/images/image-file/one-page-work-2.jpg" alt="" />
                          <img class="rounded mt-1" src="assets/images/image-file/one-page-work-3.jpg" alt="" />
                      </div>
                  </div>

              </div>
          </div>

      </li>

      <!-- Message: Left -->
      <li class="d-flex message">

          <!-- Avatar -->
          <div class="mr-lg-3 me-2">
              <img class="avatar sm rounded-circle" src="assets/images/xs/avatar1.jpg" alt="avatar">
          </div>
          <!-- End Avatar -->

          <div class="message-body">
              <span class="date-time text-muted">Michelle, 7:19 PM</span>

              <div class="message-row d-flex align-items-center">

                  <!-- Message: content -->
                  <div class="message-content p-3">
                      Okay,
                  </div>

                  <!-- Message: dropdown -->
                  <div class="dropdown">
                      <a class="text-muted ms-1 p-2 text-muted" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="zmdi zmdi-more-vert"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" href="#">Edit</a>
                          <a class="dropdown-item" href="#">Share</a>
                          <a class="dropdown-item" href="#">Delete</a>
                      </div>
                  </div>
                  <!-- End Message: dropdown -->

              </div>
              <div class="message-row d-flex align-items-center">

                  <!-- Message: content -->
                  <div class="message-content p-3">
                      Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                  </div>

                  <!-- Message: dropdown -->
                  <div class="dropdown">
                      <a class="text-muted ms-1 p-2 text-muted" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="zmdi zmdi-more-vert"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" href="#">Edit</a>
                          <a class="dropdown-item" href="#">Share</a>
                          <a class="dropdown-item" href="#">Delete</a>
                      </div>
                  </div>
                  <!-- End Message: dropdown -->

              </div>
              <div class="message-row d-flex align-items-center">

                  <!-- Message: content -->
                  <div class="message-content p-3">
                      <div class="attachment">
                          <div class="media mt-2">
                              <div class="avatar me-2">
                                  <div class="avatar rounded no-image cyan">
                                      <i class="zmdi zmdi-file"></i>
                                  </div>
                              </div>
                              <div class="media-body overflow-hidden">
                                  <h6 class="text-truncate mb-0">Design file.psd</h6>
                                  <span class="file-size">22.5 mb</span>
                              </div>
                          </div>
                      </div>
                  </div>

                  <!-- Message: dropdown -->
                  <div class="dropdown">
                      <a class="text-muted ms-1 p-2 text-muted" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="zmdi zmdi-more-vert"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" href="#">Edit</a>
                          <a class="dropdown-item" href="#">Share</a>
                          <a class="dropdown-item" href="#">Delete</a>
                      </div>
                  </div>
                  <!-- End Message: dropdown -->

              </div>

          </div>

      </li>

  </ul>

</div>

