<div class="sidebar border-end py-xl-4 py-3 px-xl-4 px-3">
  <div class="tab-content">

    <div class="tab-pane fade" id="nav-tab-user" role="tabpanel">

      <div class="d-flex justify-content-between align-items-center mb-4">
        <h3 class="mb-0 text-primary">Profile</h3>
        <div>
          <a routerLink="/auth/login" title="" class="btn btn-dark">Sign Out</a>
        </div>
      </div>

      <div class="form-group input-group-lg search mb-3">
        <i class="zmdi zmdi-search"></i>
        <i class="zmdi zmdi-dialpad"></i>
        <input type="text" class="form-control" placeholder="Search...">
      </div>

      <div class="card border-0 text-center pt-3 mb-4">
        <div class="card-body">
          <div class="card-user-avatar">
            <img src="assets/images/user.png" alt="avatar">
            <button type="button" class="btn btn-secondary btn-sm"><i class="zmdi zmdi-edit"></i></button>
          </div>
          <div class="card-user-detail mt-4">
            <h5>Michelle Green</h5>
            <span class="text-muted">michelle.green@gmail.com</span>
            <p>+14 123 456 789 - New york (USA)</p>
            <div class="social">
              <a class="icon p-2" href="#" data-toggle="tooltip" title="" data-original-title="Facebook"><i
                  class="zmdi zmdi-facebook-box"></i></a>
              <a class="icon p-2" href="#" data-toggle="tooltip" title="" data-original-title="Github"><i
                  class="zmdi zmdi-github-box"></i></a>
              <a class="icon p-2" href="#" data-toggle="tooltip" title="" data-original-title="Linkedin"><i
                  class="zmdi zmdi-linkedin-box"></i></a>
              <a class="icon p-2" href="#" data-toggle="tooltip" title="" data-original-title="Instagram"><i
                  class="zmdi zmdi-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="card border-0">
        <ul class="list-group custom list-group-flush">

          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Color scheme</span>
            <ul class="choose-skin list-unstyled mb-0">
              <li data-theme="indigo" data-toggle="tooltip" title="" data-original-title="Theme-Indigo">
                <div class="indigo"></div>
              </li>
              <li class="active" data-theme="cyan" data-toggle="tooltip" title="" data-original-title="Theme-Cyan">
                <div class="cyan"></div>
              </li>
              <li data-theme="green" data-toggle="tooltip" title="" data-original-title="Theme-Green">
                <div class="green"></div>
              </li>
              <li data-theme="blush" data-toggle="tooltip" title="" data-original-title="Theme-Blush">
                <div class="blush"></div>
              </li>
              <li data-theme="dark" data-toggle="tooltip" title="" data-original-title="Theme-Dark">
                <div class="dark"></div>
              </li>
            </ul>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Desktop notifications</span>
            <label class="c_checkbox">
              <input type="checkbox" checked="">
              <span class="checkmark"></span>
            </label>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Sound notifications</span>
            <label class="c_checkbox">
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
          </li>
          <li class="list-group-item border-0 mt-2">
            <a class="link" href="#"><i class="zmdi zmdi-chevron-right me-2"></i> Need Help? Let's chat</a>
          </li>
          <li class="list-group-item border-0">
            <a class="link" href="#"><i class="zmdi zmdi-chevron-right me-2"></i> Knowledgebase</a>
          </li>
          <li class="list-group-item border-0">
            <a class="link" href="#"><i class="zmdi zmdi-chevron-right me-2"></i> english (United States)</a>
          </li>
          <li class="list-group-item mb-2">
            <a class="link" href="#"><i class="zmdi zmdi-chevron-right me-2"></i> Browser &amp; App Sessions</a>
          </li>
        </ul>

        <div class="card-body text-center border-top">
          <button type="button" class="btn btn-secondary">Update Profile</button>
        </div>
      </div>
    </div>

    <div class="tab-pane fade show active" id="nav-tab-chat" role="tabpanel">

      <div class="d-flex justify-content-between align-items-center mb-4">
        <h3 class="mb-0 text-primary">Chat</h3>
        <div>
          <button class="btn btn-dark" type="button">New Chat</button>
        </div>
      </div>

      <div class="form-group input-group-lg search mb-3">
        <i class="zmdi zmdi-search"></i>
        <i class="zmdi zmdi-dialpad"></i>
        <input type="text" class="form-control" placeholder="Search...">
      </div>

      <ul class="chat-list">
        <li class="header d-flex justify-content-between ps-3 pe-3 mb-1">
          <span>RECENT CHATS</span>
          <div class="dropdown">
            <a class="btn btn-link px-1 py-0 border-0 text-muted dropdown-toggle" href="#" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                class="zmdi zmdi-filter-list"></i></a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </li>
        <li>
          <a href="bot-chat.html" class="card">
            <div class="card-body">
              <div class="media">
                <div class="avatar me-3">
                  <div class="avatar rounded-circle no-image bg-primary text-light">
                    <span><i class="zmdi zmdi-comment-text"></i></span>
                  </div>
                </div>
                <div class="media-body overflow-hidden">
                  <div class="d-flex align-items-center mb-1">
                    <h6 class="text-truncate mb-0 me-auto">Support ChatBot</h6>
                  </div>
                  <div class="text-truncate">
                    <i class="zmdi zmdi-circle text-success"></i> Online
                  </div>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="online">
          <div class="hover_action">
            <button type="button" class="btn btn-link text-info"><i class="zmdi zmdi-eye"></i></button>
            <button type="button" class="btn btn-link text-warning"><i class="zmdi zmdi-star"></i></button>
            <button type="button" class="btn btn-link text-danger"><i class="zmdi zmdi-delete"></i></button>
          </div>
          <a routerLink="/home/chat-service/10" class="card">
            <div class="card-body">
              <div class="media">
                <div class="avatar me-3">
                  <span class="status rounded-circle"></span>
                  <img class="avatar rounded-circle" src="assets/images/xs/avatar5.jpg" alt="avatar">
                </div>
                <div class="media-body overflow-hidden">
                  <div class="d-flex align-items-center mb-1">
                    <h6 class="text-truncate mb-0 me-auto">Jason Porter</h6>
                    <p class="small text-muted text-nowrap ms-4 mb-0">11:08 am</p>
                  </div>
                  <div class="text-truncate">It is a long established fact that a reader w...</div>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="online active">
          <div class="hover_action">
            <button type="button" class="btn btn-link text-info"><i class="zmdi zmdi-eye"></i></button>
            <button type="button" class="btn btn-link text-warning"><i class="zmdi zmdi-star"></i></button>
            <button type="button" class="btn btn-link text-danger"><i class="zmdi zmdi-delete"></i></button>
          </div>
          <a href="group-chat.html" class="card">
            <div class="card-body">
              <div class="media">
                <div class="avatar me-3">
                  <span class="status rounded-circle"></span>
                  <div class="avatar rounded-circle no-image timber">
                    <span>UD</span>
                  </div>
                </div>
                <div class="media-body overflow-hidden">
                  <div class="d-flex align-items-center mb-1">
                    <h6 class="text-truncate mb-0 me-auto">UI-Design Group</h6>
                    <p class="small text-muted text-nowrap ms-4 mb-0">11:08 am</p>
                  </div>
                  <div class="text-truncate">
                    <i class="zmdi zmdi-file-text me-1"></i> It is a long established fact that a reader w...
                    <div class="avatar-list avatar-list-stacked mt-1">
                      <img class="avatar xs rounded" src="assets/images/xs/avatar5.jpg" data-toggle="tooltip"
                        data-placement="top" title="" data-original-title="Sean">
                      <img class="avatar xs rounded" src="assets/images/xs/avatar6.jpg" data-toggle="tooltip"
                        data-placement="top" title="" data-original-title="Martin">
                      <img class="avatar xs rounded" src="assets/images/xs/avatar1.jpg" data-toggle="tooltip"
                        data-placement="top" title="" data-original-title="Terry">
                      <img class="avatar xs rounded" src="assets/images/xs/avatar4.jpg" data-toggle="tooltip"
                        data-placement="top" title="" data-original-title="Michelle">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="away">
          <div class="hover_action">
            <button type="button" class="btn btn-link text-info"><i class="zmdi zmdi-eye"></i></button>
            <button type="button" class="btn btn-link text-warning"><i class="zmdi zmdi-star"></i></button>
            <button type="button" class="btn btn-link text-danger"><i class="zmdi zmdi-delete"></i></button>
          </div>
          <a href="single-chat-2.html" class="card">
            <div class="card-body">
              <div class="media">
                <div class="avatar me-3">
                  <span class="status rounded-circle"></span>
                  <img class="avatar rounded-circle" src="assets/images/xs/avatar1.jpg" alt="avatar">
                </div>
                <div class="media-body overflow-hidden">
                  <div class="d-flex align-items-center mb-1">
                    <h6 class="text-truncate mb-0 me-auto">Michelle Green</h6>
                    <p class="small text-muted text-nowrap ms-4 mb-0">11:08 am</p>
                  </div>
                  <div class="text-truncate">What Can i do right now?</div>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <div class="hover_action">
            <button type="button" class="btn btn-link text-info"><i class="zmdi zmdi-eye"></i></button>
            <button type="button" class="btn btn-link text-warning"><i class="zmdi zmdi-star"></i></button>
            <button type="button" class="btn btn-link text-danger"><i class="zmdi zmdi-delete"></i></button>
          </div>
          <a href="#" class="card">
            <div class="card-body">
              <div class="media">
                <div class="avatar me-3">
                  <span class="status rounded-circle"></span>
                  <img class="avatar rounded-circle" src="assets/images/xs/avatar2.jpg" alt="avatar">
                </div>
                <div class="media-body overflow-hidden">
                  <div class="d-flex align-items-center mb-1">
                    <h6 class="text-truncate mb-0 me-auto">Elizabeth Martin <span class="badge badge-info">4</span></h6>
                    <p class="small text-muted text-nowrap ms-4 mb-0">11:08 am</p>
                  </div>
                  <div class="text-truncate"><i class="zmdi zmdi-file-text me-1"></i> It is a long established fact that
                    a reader w...</div>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="online">
          <div class="hover_action">
            <button type="button" class="btn btn-link text-info"><i class="zmdi zmdi-eye"></i></button>
            <button type="button" class="btn btn-link text-warning"><i class="zmdi zmdi-star"></i></button>
            <button type="button" class="btn btn-link text-danger"><i class="zmdi zmdi-delete"></i></button>
          </div>
          <a href="#" class="card">
            <div class="card-body">
              <div class="media">
                <div class="avatar me-3">
                  <span class="status rounded-circle"></span>
                  <img class="avatar rounded-circle" src="assets/images/xs/avatar3.jpg" alt="avatar">
                </div>
                <div class="media-body overflow-hidden">
                  <div class="d-flex align-items-center mb-1">
                    <h6 class="text-truncate mb-0 me-auto">David Wallace</h6>
                    <p class="small text-muted text-nowrap ms-4 mb-0">11:08 am</p>
                  </div>
                  <div class="text-truncate">
                    <div class="wave">
                      <span class="dot"></span>
                      <span class="dot"></span>
                      <span class="dot"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="away">
          <div class="hover_action">
            <button type="button" class="btn btn-link text-info"><i class="zmdi zmdi-eye"></i></button>
            <button type="button" class="btn btn-link text-warning"><i class="zmdi zmdi-star"></i></button>
            <button type="button" class="btn btn-link text-danger"><i class="zmdi zmdi-delete"></i></button>
          </div>
          <a href="#" class="card">
            <div class="card-body">
              <div class="media">
                <div class="avatar me-3">
                  <span class="status rounded-circle"></span>
                  <img class="avatar rounded-circle" src="assets/images/xs/avatar4.jpg" alt="avatar">
                </div>
                <div class="media-body overflow-hidden">
                  <div class="d-flex align-items-center mb-1">
                    <h6 class="text-truncate mb-0 me-auto">Sean Black</h6>
                    <p class="small text-muted text-nowrap ms-4 mb-0">11:08 am</p>
                  </div>
                  <div class="text-truncate"><i class="zmdi zmdi-phone-end me-1"></i> It is a long established fact that
                    a reader w...</div>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <div class="hover_action">
            <button type="button" class="btn btn-link text-info"><i class="zmdi zmdi-eye"></i></button>
            <button type="button" class="btn btn-link text-warning"><i class="zmdi zmdi-star"></i></button>
            <button type="button" class="btn btn-link text-danger"><i class="zmdi zmdi-delete"></i></button>
          </div>
          <a href="#" class="card">
            <div class="card-body">
              <div class="media">
                <div class="avatar me-3">
                  <span class="status rounded-circle"></span>
                  <img class="avatar rounded-circle" src="assets/images/xs/avatar6.jpg" alt="avatar">
                </div>
                <div class="media-body overflow-hidden">
                  <div class="d-flex align-items-center mb-1">
                    <h6 class="text-truncate mb-0 me-auto">Terry Carter</h6>
                    <p class="small text-muted text-nowrap ms-4 mb-0">16-07-2020</p>
                  </div>
                  <div class="text-truncate">Hello, Terry are you there?</div>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <div class="hover_action">
            <button type="button" class="btn btn-link text-info"><i class="zmdi zmdi-eye"></i></button>
            <button type="button" class="btn btn-link text-warning"><i class="zmdi zmdi-star"></i></button>
            <button type="button" class="btn btn-link text-danger"><i class="zmdi zmdi-delete"></i></button>
          </div>
          <a href="#" class="card">
            <div class="card-body">
              <div class="media">
                <div class="avatar me-3">
                  <span class="status rounded-circle"></span>
                  <div class="avatar rounded-circle no-image cyan">
                    <span>MS</span>
                  </div>
                </div>
                <div class="media-body overflow-hidden">
                  <div class="d-flex align-items-center mb-1">
                    <h6 class="text-truncate mb-0 me-auto">Michelle Schultz</h6>
                    <p class="small text-muted text-nowrap ms-4 mb-0">13-07-2020</p>
                  </div>
                  <div class="text-truncate">
                    <i class="zmdi zmdi-file-text me-1"></i> Meeting start in 20min please be ready...
                  </div>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <div class="hover_action">
            <button type="button" class="btn btn-link text-info"><i class="zmdi zmdi-eye"></i></button>
            <button type="button" class="btn btn-link text-warning"><i class="zmdi zmdi-star"></i></button>
            <button type="button" class="btn btn-link text-danger"><i class="zmdi zmdi-delete"></i></button>
          </div>
          <a href="#" class="card">
            <div class="card-body">
              <div class="media">
                <div class="avatar me-3">
                  <span class="status rounded-circle"></span>
                  <div class="avatar rounded-circle no-image green">
                    <span>RG</span>
                  </div>
                </div>
                <div class="media-body overflow-hidden">
                  <div class="d-flex align-items-center mb-1">
                    <h6 class="text-truncate mb-0 me-auto">React Group</h6>
                    <p class="small text-muted text-nowrap ms-4 mb-0">11:08 am</p>
                  </div>
                  <div class="text-truncate">
                    It is a long established fact that a reader w...
                    <div class="avatar-list avatar-list-stacked mt-1">
                      <img class="avatar xs rounded" src="assets/images/xs/avatar7.jpg" data-toggle="tooltip"
                        data-placement="top" title="" data-original-title="Sean">
                      <img class="avatar xs rounded" src="assets/images/xs/avatar8.jpg" data-toggle="tooltip"
                        data-placement="top" title="" data-original-title="Martin">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <div class="hover_action">
            <button type="button" class="btn btn-link text-info"><i class="zmdi zmdi-eye"></i></button>
            <button type="button" class="btn btn-link text-warning"><i class="zmdi zmdi-star"></i></button>
            <button type="button" class="btn btn-link text-danger"><i class="zmdi zmdi-delete"></i></button>
          </div>
          <a href="#" class="card">
            <div class="card-body">
              <div class="media">
                <div class="avatar me-3">
                  <span class="status rounded-circle"></span>
                  <img class="avatar rounded-circle" src="assets/images/xs/avatar6.jpg" alt="avatar">
                </div>
                <div class="media-body overflow-hidden">
                  <div class="d-flex align-items-center mb-1">
                    <h6 class="text-truncate mb-0 me-auto">Terry Carter</h6>
                    <p class="small text-muted text-nowrap ms-4 mb-0">16-07-2020</p>
                  </div>
                  <div class="text-truncate">Hello, Terry are you there?</div>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <div class="hover_action">
            <button type="button" class="btn btn-link text-info"><i class="zmdi zmdi-eye"></i></button>
            <button type="button" class="btn btn-link text-warning"><i class="zmdi zmdi-star"></i></button>
            <button type="button" class="btn btn-link text-danger"><i class="zmdi zmdi-delete"></i></button>
          </div>
          <a href="#" class="card">
            <div class="card-body">
              <div class="media">
                <div class="avatar me-3">
                  <span class="status rounded-circle"></span>
                  <div class="avatar rounded-circle no-image cyan">
                    <span>MS</span>
                  </div>
                </div>
                <div class="media-body overflow-hidden">
                  <div class="d-flex align-items-center mb-1">
                    <h6 class="text-truncate mb-0 me-auto">Michelle Schultz</h6>
                    <p class="small text-muted text-nowrap ms-4 mb-0">13-07-2020</p>
                  </div>
                  <div class="text-truncate">
                    <i class="zmdi zmdi-file-text me-1"></i> Meeting start in 20min please be ready...
                  </div>
                </div>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div class="tab-pane fade" id="nav-tab-phone" role="tabpanel">

      <div class="d-flex justify-content-between align-items-center mb-4">
        <h3 class="mb-0 text-primary">Call</h3>
        <div>
          <button class="btn btn-dark" type="button">New Call</button>
        </div>
      </div>

      <div class="form-group input-group-lg search mb-3">
        <i class="zmdi zmdi-search"></i>
        <i class="zmdi zmdi-dialpad"></i>
        <input type="text" class="form-control" placeholder="Search...">
      </div>

      <ul class="chat-list">
        <li class="header d-flex justify-content-between ps-3 pe-3 mb-1">
          <span>RECENT CALL</span>
          <div class="dropdown">
            <a class="btn btn-link px-1 py-0 border-0 text-muted dropdown-toggle" href="#" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </li>
        <li>
          <div class="hover_action">
            <button type="button" class="btn btn-link text-info"><i class="zmdi zmdi-eye"></i></button>
            <button type="button" class="btn btn-link text-warning"><i class="zmdi zmdi-star"></i></button>
            <button type="button" class="btn btn-link text-danger"><i class="zmdi zmdi-delete"></i></button>
          </div>
          <a href="#" class="card">
            <div class="card-body">
              <div class="media">
                <div class="avatar me-3">
                  <img class="avatar rounded-circle" src="assets/images/xs/avatar10.jpg" alt="avatar">
                </div>
                <div class="media-body overflow-hidden">
                  <div class="d-flex align-items-center mb-1">
                    <h6 class="text-truncate mb-0 me-auto">Michelle Green</h6>
                  </div>
                  <div class="text-truncate">
                    <i class="zmdi zmdi-phone-missed me-1"></i> Yesterday at 6:08 PM
                  </div>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <div class="hover_action">
            <button type="button" class="btn btn-link text-info"><i class="zmdi zmdi-eye"></i></button>
            <button type="button" class="btn btn-link text-warning"><i class="zmdi zmdi-star"></i></button>
            <button type="button" class="btn btn-link text-danger"><i class="zmdi zmdi-delete"></i></button>
          </div>
          <a href="#" class="card">
            <div class="card-body">
              <div class="media">
                <div class="avatar me-3">
                  <img class="avatar rounded-circle" src="assets/images/xs/avatar9.jpg" alt="avatar">
                </div>
                <div class="media-body overflow-hidden">
                  <div class="d-flex align-items-center mb-1">
                    <h6 class="text-truncate mb-0 me-auto">Jane Hunt</h6>
                  </div>
                  <div class="text-truncate">
                    <i class="zmdi zmdi-phone-missed me-1"></i> Yesterday at 6:08 PM
                  </div>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <div class="hover_action">
            <button type="button" class="btn btn-link text-info"><i class="zmdi zmdi-eye"></i></button>
            <button type="button" class="btn btn-link text-warning"><i class="zmdi zmdi-star"></i></button>
            <button type="button" class="btn btn-link text-danger"><i class="zmdi zmdi-delete"></i></button>
          </div>
          <a href="#" class="card">
            <div class="card-body">
              <div class="media">
                <div class="avatar me-3">
                  <img class="avatar rounded-circle" src="assets/images/xs/avatar8.jpg" alt="avatar">
                </div>
                <div class="media-body overflow-hidden">
                  <div class="d-flex align-items-center mb-1">
                    <h6 class="text-truncate mb-0 me-auto">Susie Willis</h6>
                  </div>
                  <div class="text-truncate">
                    <i class="zmdi zmdi-phone-missed me-1"></i> Yesterday at 6:08 PM
                  </div>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <div class="hover_action">
            <button type="button" class="btn btn-link text-info"><i class="zmdi zmdi-eye"></i></button>
            <button type="button" class="btn btn-link text-warning"><i class="zmdi zmdi-star"></i></button>
            <button type="button" class="btn btn-link text-danger"><i class="zmdi zmdi-delete"></i></button>
          </div>
          <a href="#" class="card">
            <div class="card-body">
              <div class="media">
                <div class="avatar me-3">
                  <img class="avatar rounded-circle" src="assets/images/xs/avatar1.jpg" alt="avatar">
                </div>
                <div class="media-body overflow-hidden">
                  <div class="d-flex align-items-center mb-1">
                    <h6 class="text-truncate mb-0 me-auto">Marshall Nichols</h6>
                  </div>
                  <div class="text-truncate">
                    <i class="zmdi zmdi-phone-forwarded me-1"></i> Yesterday at 6:08 PM
                  </div>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <div class="hover_action">
            <button type="button" class="btn btn-link text-info"><i class="zmdi zmdi-eye"></i></button>
            <button type="button" class="btn btn-link text-warning"><i class="zmdi zmdi-star"></i></button>
            <button type="button" class="btn btn-link text-danger"><i class="zmdi zmdi-delete"></i></button>
          </div>
          <a href="#" class="card">
            <div class="card-body">
              <div class="media">
                <div class="avatar me-3">
                  <img class="avatar rounded-circle" src="assets/images/xs/avatar8.jpg" alt="avatar">
                </div>
                <div class="media-body overflow-hidden">
                  <div class="d-flex align-items-center mb-1">
                    <h6 class="text-truncate mb-0 me-auto">Jason Porter</h6>
                  </div>
                  <div class="text-truncate">
                    <i class="zmdi zmdi-phone-missed me-1"></i> Yesterday at 6:08 PM
                  </div>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <div class="hover_action">
            <button type="button" class="btn btn-link text-info"><i class="zmdi zmdi-eye"></i></button>
            <button type="button" class="btn btn-link text-warning"><i class="zmdi zmdi-star"></i></button>
            <button type="button" class="btn btn-link text-danger"><i class="zmdi zmdi-delete"></i></button>
          </div>
          <a href="#" class="card">
            <div class="card-body">
              <div class="media">
                <div class="avatar me-3">
                  <img class="avatar rounded-circle" src="assets/images/xs/avatar1.jpg" alt="avatar">
                </div>
                <div class="media-body overflow-hidden">
                  <div class="d-flex align-items-center mb-1">
                    <h6 class="text-truncate mb-0 me-auto">Darryl Day</h6>
                  </div>
                  <div class="text-truncate">
                    <i class="zmdi zmdi-phone-forwarded me-1"></i> Yesterday at 6:08 PM
                  </div>
                </div>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div class="tab-pane fade" id="nav-tab-contact" role="tabpanel">

      <div class="d-flex justify-content-between align-items-center mb-4">
        <h3 class="mb-0 text-primary">Contact</h3>
        <div>
          <button class="btn btn-dark" type="button" data-toggle="modal" data-target="#InviteFriends">Invite
            Friends</button>
        </div>
      </div>

      <div class="form-group input-group-lg search mb-3">
        <i class="zmdi zmdi-search"></i>
        <i class="zmdi zmdi-dialpad"></i>
        <input type="text" class="form-control" placeholder="Search...">
      </div>

      <ul class="chat-list">
        <li class="header d-flex justify-content-between ps-3 pe-3 mb-1">
          <span>A</span>
          <div class="dropdown">
            <a class="btn btn-link px-1 py-0 border-0 text-muted dropdown-toggle" href="#" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </li>
        <li>
          <div class="hover_action">
            <button type="button" class="btn btn-link text-info"><i class="zmdi zmdi-eye"></i></button>
            <button type="button" class="btn btn-link text-warning"><i class="zmdi zmdi-star"></i></button>
            <button type="button" class="btn btn-link text-danger"><i class="zmdi zmdi-delete"></i></button>
          </div>
          <a href="#" class="card">
            <div class="card-body">
              <div class="media">
                <div class="avatar me-3">
                  <img class="avatar rounded-circle" src="assets/images/xs/avatar1.jpg" alt="avatar">
                </div>
                <div class="media-body overflow-hidden">
                  <div class="d-flex align-items-center mb-1">
                    <h6 class="text-truncate mb-0 me-auto">Amelia Green</h6>
                  </div>
                  <div class="text-truncate">
                    last seen 2 hours ago
                  </div>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <div class="hover_action">
            <button type="button" class="btn btn-link text-info"><i class="zmdi zmdi-eye"></i></button>
            <button type="button" class="btn btn-link text-warning"><i class="zmdi zmdi-star"></i></button>
            <button type="button" class="btn btn-link text-danger"><i class="zmdi zmdi-delete"></i></button>
          </div>
          <a href="#" class="card">
            <div class="card-body">
              <div class="media">
                <div class="avatar me-3">
                  <img class="avatar rounded-circle" src="assets/images/xs/avatar3.jpg" alt="avatar">
                </div>
                <div class="media-body overflow-hidden">
                  <div class="d-flex align-items-center mb-1">
                    <h6 class="text-truncate mb-0 me-auto">Ava Green</h6>
                  </div>
                  <div class="text-truncate">
                    last seen 1 hours ago
                  </div>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="header d-flex justify-content-between ps-3 pe-3 mb-1">
          <span>C</span>
        </li>
        <li>
          <div class="hover_action">
            <button type="button" class="btn btn-link text-info"><i class="zmdi zmdi-eye"></i></button>
            <button type="button" class="btn btn-link text-warning"><i class="zmdi zmdi-star"></i></button>
            <button type="button" class="btn btn-link text-danger"><i class="zmdi zmdi-delete"></i></button>
          </div>
          <a href="#" class="card">
            <div class="card-body">
              <div class="media">
                <div class="avatar me-3">
                  <img class="avatar rounded-circle" src="assets/images/xs/avatar4.jpg" alt="avatar">
                </div>
                <div class="media-body overflow-hidden">
                  <div class="d-flex align-items-center mb-1">
                    <h6 class="text-truncate mb-0 me-auto">Charlotte Green</h6>
                  </div>
                  <div class="text-truncate">
                    last seen 6 hours ago
                  </div>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <div class="hover_action">
            <button type="button" class="btn btn-link text-info"><i class="zmdi zmdi-eye"></i></button>
            <button type="button" class="btn btn-link text-warning"><i class="zmdi zmdi-star"></i></button>
            <button type="button" class="btn btn-link text-danger"><i class="zmdi zmdi-delete"></i></button>
          </div>
          <a href="#" class="card">
            <div class="card-body">
              <div class="media">
                <div class="avatar me-3">
                  <img class="avatar rounded-circle" src="assets/images/xs/avatar5.jpg" alt="avatar">
                </div>
                <div class="media-body overflow-hidden">
                  <div class="d-flex align-items-center mb-1">
                    <h6 class="text-truncate mb-0 me-auto">Chloe Green</h6>
                  </div>
                  <div class="text-truncate">
                    last seen 3 hours ago
                  </div>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <div class="hover_action">
            <button type="button" class="btn btn-link text-info"><i class="zmdi zmdi-eye"></i></button>
            <button type="button" class="btn btn-link text-warning"><i class="zmdi zmdi-star"></i></button>
            <button type="button" class="btn btn-link text-danger"><i class="zmdi zmdi-delete"></i></button>
          </div>
          <a href="#" class="card">
            <div class="card-body">
              <div class="media">
                <div class="avatar me-3">
                  <img class="avatar rounded-circle" src="assets/images/xs/avatar6.jpg" alt="avatar">
                </div>
                <div class="media-body overflow-hidden">
                  <div class="d-flex align-items-center mb-1">
                    <h6 class="text-truncate mb-0 me-auto">Charles Green</h6>
                  </div>
                  <div class="text-truncate">
                    last seen 2 hours ago
                  </div>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="header d-flex justify-content-between ps-3 pe-3 mb-1">
          <span>D</span>
        </li>
        <li>
          <div class="hover_action">
            <button type="button" class="btn btn-link text-info"><i class="zmdi zmdi-eye"></i></button>
            <button type="button" class="btn btn-link text-warning"><i class="zmdi zmdi-star"></i></button>
            <button type="button" class="btn btn-link text-danger"><i class="zmdi zmdi-delete"></i></button>
          </div>
          <a href="#" class="card">
            <div class="card-body">
              <div class="media">
                <div class="avatar me-3">
                  <img class="avatar rounded-circle" src="assets/images/xs/avatar4.jpg" alt="avatar">
                </div>
                <div class="media-body overflow-hidden">
                  <div class="d-flex align-items-center mb-1">
                    <h6 class="text-truncate mb-0 me-auto">David Green</h6>
                  </div>
                  <div class="text-truncate">
                    last seen 6 hours ago
                  </div>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="header d-flex justify-content-between ps-3 pe-3 mb-1">
          <span>M</span>
        </li>
        <li>
          <div class="hover_action">
            <button type="button" class="btn btn-link text-info"><i class="zmdi zmdi-eye"></i></button>
            <button type="button" class="btn btn-link text-warning"><i class="zmdi zmdi-star"></i></button>
            <button type="button" class="btn btn-link text-danger"><i class="zmdi zmdi-delete"></i></button>
          </div>
          <a href="#" class="card">
            <div class="card-body">
              <div class="media">
                <div class="avatar me-3">
                  <img class="avatar rounded-circle" src="assets/images/xs/avatar8.jpg" alt="avatar">
                </div>
                <div class="media-body overflow-hidden">
                  <div class="d-flex align-items-center mb-1">
                    <h6 class="text-truncate mb-0 me-auto">Michael Green</h6>
                  </div>
                  <div class="text-truncate">
                    last seen 6 hours ago
                  </div>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <div class="hover_action">
            <button type="button" class="btn btn-link text-info"><i class="zmdi zmdi-eye"></i></button>
            <button type="button" class="btn btn-link text-warning"><i class="zmdi zmdi-star"></i></button>
            <button type="button" class="btn btn-link text-danger"><i class="zmdi zmdi-delete"></i></button>
          </div>
          <a href="#" class="card">
            <div class="card-body">
              <div class="media">
                <div class="avatar me-3">
                  <img class="avatar rounded-circle" src="assets/images/xs/avatar8.jpg" alt="avatar">
                </div>
                <div class="media-body overflow-hidden">
                  <div class="d-flex align-items-center mb-1">
                    <h6 class="text-truncate mb-0 me-auto">Mohammad</h6>
                  </div>
                  <div class="text-truncate">
                    last seen 6 hours ago
                  </div>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="header d-flex justify-content-between ps-3 pe-3 mb-1">
          <span>T</span>
        </li>
        <li>
          <div class="hover_action">
            <button type="button" class="btn btn-link text-info"><i class="zmdi zmdi-eye"></i></button>
            <button type="button" class="btn btn-link text-warning"><i class="zmdi zmdi-star"></i></button>
            <button type="button" class="btn btn-link text-danger"><i class="zmdi zmdi-delete"></i></button>
          </div>
          <a href="#" class="card">
            <div class="card-body">
              <div class="media">
                <div class="avatar me-3">
                  <img class="avatar rounded-circle" src="assets/images/xs/avatar9.jpg" alt="avatar">
                </div>
                <div class="media-body overflow-hidden">
                  <div class="d-flex align-items-center mb-1">
                    <h6 class="text-truncate mb-0 me-auto">Tommy Green</h6>
                  </div>
                  <div class="text-truncate">
                    last seen 6 hours ago
                  </div>
                </div>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div class="tab-pane fade" id="nav-tab-pages" role="tabpanel">

      <div class="d-flex justify-content-between align-items-center mb-4">
        <h3 class="mb-0 text-primary">Pages</h3>
      </div>

      <div class="card border-0">
        <ul class="list-group list-group-flush">
          <li class="list-group-item border-0 mt-3">
            <a class="link" href="signin.html"><i class="zmdi zmdi-label-alt me-2"></i> Sign in</a>
          </li>
          <li class="list-group-item border-0">
            <a class="link" href="signup.html"><i class="zmdi zmdi-label-alt me-2"></i> Sign up</a>
          </li>
          <li class="list-group-item border-0">
            <a class="link" href="password-reset.html"><i class="zmdi zmdi-label-alt me-2"></i> Reset Password</a>
          </li>
          <li class="list-group-item border-0">
            <a class="link" href="settings.html"><i class="zmdi zmdi-label-alt me-2"></i> Settings</a>
          </li>
          <li class="list-group-item border-0">
            <a class="link" href="single-chat.html"><i class="zmdi zmdi-label-alt me-2"></i> Single Chat Room</a>
          </li>
          <li class="list-group-item border-0">
            <a class="link" href="group-chat.html"><i class="zmdi zmdi-label-alt me-2"></i> Group Chat Room</a>
          </li>
          <li class="list-group-item border-0">
            <a class="link" href="audio-call.html"><i class="zmdi zmdi-label-alt me-2"></i> Audio Call Room</a>
          </li>
          <li class="list-group-item border-0">
            <a class="link" href="video-call.html"><i class="zmdi zmdi-label-alt me-2"></i> Video Call Room</a>
          </li>
          <li class="list-group-item mb-3">
            <a class="link" href="../doc/index.html"><i class="zmdi zmdi-label-alt me-2"></i> Documentation</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>