<div class="body-page d-flex py-xl-3 py-2">
  <div class="container px-0">
    <div class="row">
      <div class="col-12">
        <ul
          class="nav nav-tabs nav-overflow page-header-tabs mb-4 mt-md-5 mt-3"
        >
          <li class="nav-item">
            <a
              class="nav-link active"
              data-toggle="tab"
              href="#setting-general"
              role="tab"
              >General</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-toggle="tab"
              href="#setting-billing"
              role="tab"
              >Billing</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-toggle="tab"
              href="#setting-members"
              role="tab"
              >Members</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-toggle="tab"
              href="#setting-security"
              role="tab"
              >Security</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-toggle="tab"
              href="#setting-faqs"
              role="tab"
              >FAQs</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="tab-content">
      <div
        class="tab-pane fade show active"
        id="setting-general"
        role="tabpanel"
      >
        <div class="row">
          <div class="col-12">
            <div class="card mb-4">
              <div class="card-header">
                <h6 class="card-title mb-0">Account Setting</h6>
                <span class="text-muted small"
                  >Update your account details</span
                >
              </div>
              <div class="card-body">
                <form class="row g-3">
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="form-group">
                      <div class="input-group">
                        <input
                          type="text"
                          class="form-control form-control-lg"
                          placeholder="Enter your name"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="form-group">
                      <div class="input-group">
                        <input
                          type="text"
                          class="form-control form-control-lg"
                          placeholder="Enter phone"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="form-group">
                      <div class="input-group">
                        <input
                          type="text"
                          class="form-control form-control-lg"
                          placeholder="Enter your email"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="form-group">
                      <div class="input-group">
                        <input
                          type="text"
                          class="form-control form-control-lg"
                          placeholder="Facebook profile link"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="form-group">
                      <div class="input-group">
                        <input
                          type="text"
                          class="form-control form-control-lg"
                          placeholder="Instagram profile link"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="form-group">
                      <div class="input-group">
                        <input
                          type="text"
                          class="form-control form-control-lg"
                          placeholder="Linkedin profile link"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <label>Select Avatar</label>
                      <input type="file" class="form-control-file" />
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <div class="input-group">
                        <textarea
                          rows="4"
                          class="form-control"
                          placeholder="Enter Bio"
                        ></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <button type="button" class="btn btn-primary">
                      Update Details
                    </button>
                    <button type="button" class="btn btn-link">Cancel</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-between mt-4">
          <div class="col-12 col-md-6">
            <h5>Delete your account</h5>
            <p class="text-muted mb-md-0">
              Please note, deleting your account is a permanent action and will
              no be recoverable once completed.
            </p>
          </div>
          <div class="col-auto">
            <button class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="setting-billing" role="tabpanel">
        <div class="row">
          <div class="col-12">
            <div class="alert alert-danger">
              <i class="zmdi zmdi-info me-1"></i> You are near your API limits.
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="card mb-4">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col">
                    <h6 class="text-uppercase text-muted mb-1 small">
                      Current plan
                    </h6>
                    <span class="h3 mb-0">$39/mo</span>
                  </div>
                  <div class="col-auto">
                    <a class="btn btn-sm btn-dark" href="pricing.html"
                      >Upgrade</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card mb-4">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col">
                    <h6 class="card-title mb-0">Payment methods</h6>
                  </div>
                  <div class="col-auto">
                    <a class="btn btn-sm btn-primary" href="#!">Add method</a>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="list-group custom list-group-flush my-2">
                  <div class="list-group-item">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <img
                          class="img-fluid"
                          src="assets/images/visa.svg"
                          alt="..."
                          style="max-width: 38px"
                        />
                      </div>
                      <div class="col ml-n2">
                        <h6 class="mb-0">Visa ending in 2222</h6>
                        <small class="text-muted">Expires 05/2023</small>
                      </div>
                      <div class="col-auto mr-n3">
                        <span class="badge bg-light">Default</span>
                      </div>

                      <div class="col-auto">
                        <div class="dropdown">
                          <a
                            class="dropdown-ellipses dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                          >
                            <i class="zmdi zmdi-more"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#!">Action</a>
                            <a class="dropdown-item" href="#!"
                              >Another action</a
                            >
                            <a class="dropdown-item" href="#!"
                              >Something else here</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="list-group-item">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <img
                          class="img-fluid"
                          src="assets/images/mastercard.svg"
                          alt="..."
                          style="max-width: 38px"
                        />
                      </div>
                      <div class="col ml-n2">
                        <h6 class="mb-0">Mastercard ending in 9999</h6>
                        <small class="text-muted">Expires 10/2026</small>
                      </div>

                      <div class="col-auto">
                        <div class="dropdown">
                          <a
                            class="dropdown-ellipses dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                          >
                            <i class="zmdi zmdi-more"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#!">Action</a>
                            <a class="dropdown-item" href="#!"
                              >Another action</a
                            >
                            <a class="dropdown-item" href="#!"
                              >Something else here</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <h6 class="card-title mb-0">Invoices</h6>
              </div>
              <div class="table-responsive">
                <table
                  class="table table-border table-hover table-nowrap card-table mb-0"
                >
                  <thead>
                    <tr>
                      <th>Invoice ID</th>
                      <th>Date</th>
                      <th>Amount</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody class="font-size-base">
                    <tr>
                      <td>
                        <a href="invoices.html">Invoice #10022</a>
                      </td>
                      <td>
                        <time datetime="2020-04-24">Oct. 24, 2020</time>
                      </td>
                      <td>$29.00</td>
                      <td>
                        <span class="badge bg-secondary">Outstanding</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="invoices.html">Invoice #10012</a>
                      </td>
                      <td>
                        <time datetime="2020-03-24">Aug. 11, 2020</time>
                      </td>
                      <td>$29.00</td>
                      <td>
                        <span class="badge bg-success">Paid</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="invoices.html">Invoice #10043</a>
                      </td>
                      <td>
                        <time datetime="2020-02-24">July. 5, 2020</time>
                      </td>
                      <td>$29.00</td>
                      <td>
                        <span class="badge bg-success">Paid</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="invoices.html">Invoice #10045</a>
                      </td>
                      <td>
                        <time datetime="2020-01-24">Jun. 16, 2020</time>
                      </td>
                      <td>$29.00</td>
                      <td>
                        <span class="badge bg-success">Paid</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <p class="mt-4">
          <small class="text-muted"
            >Don’t need Dashkit anymore?
            <a href="#!">Cancel your account</a></small
          >
        </p>
      </div>

      <div class="tab-pane fade" id="setting-members" role="tabpanel">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="card mb-4">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col">
                    <p class="text-uppercase text-muted small mb-1">
                      Seats used
                    </p>
                    <span class="h4 mb-0">4 out of 6</span>
                  </div>
                  <div class="col-auto">
                    <a class="btn btn-sm btn-outline-primary" href="#!"
                      >Upgrade</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="card mb-4">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col">
                    <p class="text-uppercase text-muted small mb-1">
                      Default role
                    </p>
                    <span class="h4 mb-0">Staff</span>
                  </div>
                  <div class="col-auto">
                    <a class="btn btn-sm btn-dark" href="#!">Change</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header d-flex justify-content-between">
                <h6 class="card-title">Members</h6>

                <div class="dropdown">
                  <button
                    class="btn btn-sm btn-primary"
                    type="button"
                    data-bs-toggle="dropdown"
                  >
                    Invite member
                  </button>
                  <form
                    class="dropdown-menu dropdown-menu-right"
                    style="width: 300px"
                  >
                    <div class="card-header">
                      <h6 class="card-title mb-0">Invite a member</h6>
                      <span class="badge bg-primary">2 seats left</span>
                    </div>
                    <div class="card-header">
                      <div class="row no-gutters align-items-center">
                        <div class="col-3">
                          <label class="mb-0">Name</label>
                        </div>
                        <div class="col">
                          <input
                            class="form-control form-control-flush"
                            type="text"
                            placeholder="Full name"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="card-header">
                      <div class="row no-gutters align-items-center">
                        <div class="col-3">
                          <label class="mb-0">Email</label>
                        </div>
                        <div class="col">
                          <input
                            class="form-control form-control-flush"
                            type="text"
                            placeholder="Email address"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <button class="btn btn-block btn-primary" type="submit">
                        Invite member
                      </button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="card-body">
                <div class="list-group custom list-group-flush my-md-3">
                  <div class="list-group-item">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <a href="#" class="avatar"
                          ><img
                            src="assets/images/xs/avatar1.jpg"
                            alt="..."
                            class="avatar rounded-circle"
                        /></a>
                      </div>
                      <div class="col-5 ms-2">
                        <h6 class="mb-1"><a href="#">Dianna Smiley</a></h6>
                        <p class="small text-muted mb-0">
                          <a
                            class="d-block text-reset text-truncate"
                            href="mailt:amelia.green@company.com"
                            >amelia.green@company.com</a
                          >
                        </p>
                      </div>
                      <div class="col-auto ms-auto mr-md-3">
                        <select
                          class="form-control custom-select"
                          data-bs-toggle="select"
                        >
                          <option value="1">Admin</option>
                          <option value="2">Staff</option>
                          <option value="3">Custom</option>
                        </select>
                      </div>
                      <div class="col-auto">
                        <div class="dropdown">
                          <a
                            class="btn dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                          >
                            <i class="zmdi zmdi-more"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#!">Action</a>
                            <a class="dropdown-item" href="#!"
                              >Another action</a
                            >
                            <a class="dropdown-item" href="#!"
                              >Something else here</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="list-group-item">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <a href="#" class="avatar"
                          ><img
                            src="assets/images/xs/avatar2.jpg"
                            alt="..."
                            class="avatar rounded-circle"
                        /></a>
                      </div>
                      <div class="col-5 ms-2">
                        <h6 class="mb-1"><a href="#">Dianna Smiley</a></h6>
                        <p class="small text-muted mb-0">
                          <a
                            class="d-block text-reset text-truncate"
                            href="mailt:charlotte.green@company.com"
                            >charlotte.green@company.com</a
                          >
                        </p>
                      </div>
                      <div class="col-auto ms-auto mr-md-3">
                        <select
                          class="form-control custom-select"
                          data-bs-toggle="select"
                        >
                          <option value="1">Admin</option>
                          <option value="2">Staff</option>
                          <option value="3">Custom</option>
                        </select>
                      </div>
                      <div class="col-auto">
                        <div class="dropdown">
                          <a
                            class="btn dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                          >
                            <i class="zmdi zmdi-more"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#!">Action</a>
                            <a class="dropdown-item" href="#!"
                              >Another action</a
                            >
                            <a class="dropdown-item" href="#!"
                              >Something else here</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="list-group-item">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <a href="#" class="avatar"
                          ><img
                            src="assets/images/xs/avatar3.jpg"
                            alt="..."
                            class="avatar rounded-circle"
                        /></a>
                      </div>
                      <div class="col-5 ms-2">
                        <h6 class="mb-1"><a href="#">Dianna Smiley</a></h6>
                        <p class="small text-muted mb-0">
                          <a
                            class="d-block text-reset text-truncate"
                            href="mailt:susie.willis@company.com"
                            >susie.willis@company.com</a
                          >
                        </p>
                      </div>
                      <div class="col-auto ms-auto mr-md-3">
                        <select
                          class="form-control custom-select"
                          data-bs-toggle="select"
                        >
                          <option value="1">Admin</option>
                          <option value="2">Staff</option>
                          <option value="3">Custom</option>
                        </select>
                      </div>
                      <div class="col-auto">
                        <div class="dropdown">
                          <a
                            class="btn dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                          >
                            <i class="zmdi zmdi-more"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#!">Action</a>
                            <a class="dropdown-item" href="#!"
                              >Another action</a
                            >
                            <a class="dropdown-item" href="#!"
                              >Something else here</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="setting-security" role="tabpanel">
        <div class="row justify-content-between mb-4">
          <div class="col-12 col-md-6">
            <h5>Change your password</h5>
            <p class="text-muted mb-md-0">
              We will email you a confirmation when changing your password, so
              please expect that email after submitting.
            </p>
          </div>
          <div class="col-auto">
            <button class="btn btn-warning">Forgot your password?</button>
          </div>
        </div>
        <div class="row g-3">
          <div class="col-12">
            <div class="card mb-4">
              <div class="card-body">
                <form class="row">
                  <div class="col-lg-4 col-md-12">
                    <div class="form-group mb-3">
                      <label>Current password</label>
                      <input type="email" class="form-control" />
                    </div>
                    <div class="form-group mb-3">
                      <label>New password</label>
                      <input type="email" class="form-control" />
                    </div>
                    <div class="form-group mb-3">
                      <label>Confirm password</label>
                      <input type="email" class="form-control" />
                    </div>
                    <button type="button" class="btn btn-primary">
                      Update Password
                    </button>
                    <button type="button" class="btn btn-link">Cancel</button>
                  </div>
                  <div class="col-lg-8 col-md-12">
                    <div class="card bg-light border">
                      <div class="card-body">
                        <p class="mb-2">Password requirements</p>
                        <p class="small text-muted mb-2">
                          To create a new password, you have to meet all of the
                          following requirements:
                        </p>

                        <ul class="small text-muted ps-4 mb-0">
                          <li>Minimum 8 character</li>
                          <li>At least one special character</li>
                          <li>At least one number</li>
                          <li>Can’t be the same as a previous password</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-between mt-4 mb-4">
          <div class="col-12 col-md-6">
            <h5>Device History</h5>
            <p class="text-muted mb-md-0">
              If you see a device here that you believe wasn’t you, please
              contact our account fraud department immediately.
            </p>
          </div>
          <div class="col-auto">
            <button class="btn btn-dark">Log out all devices</button>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card mb-4">
              <div class="card-body">
                <div class="list-group custom list-group-flush my-md-3">
                  <div class="list-group-item px-0">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <div class="avatar lg text-center">
                          <i class="zmdi zmdi-smartphone h2"></i>
                        </div>
                      </div>
                      <div class="col ml-n2">
                        <h6 class="mb-1">iPhone 11</h6>
                        <small class="text-muted"
                          >Brownsville, VT ·
                          <time>Jun 11 at 10:05am</time></small
                        >
                      </div>
                      <div class="col-auto">
                        <button class="btn btn-sm btn-white">Sign out</button>
                      </div>
                    </div>
                  </div>
                  <div class="list-group-item px-0">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <div class="avatar lg text-center">
                          <i class="zmdi zmdi-desktop-mac h2"></i>
                        </div>
                      </div>
                      <div class="col ml-n2">
                        <h6 class="mb-1">
                          iMac OSX ·
                          <span class="font-weight-normal">Safari 10.2</span>
                        </h6>
                        <small class="text-muted"
                          >Ct, Corona, CA ·
                          <time>September 14 at 2:30pm</time></small
                        >
                      </div>
                      <div class="col-auto">
                        <button class="btn btn-sm btn-white">Sign out</button>
                      </div>
                    </div>
                  </div>
                  <div class="list-group-item px-0">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <div class="avatar lg text-center">
                          <i class="zmdi zmdi-laptop h2"></i>
                        </div>
                      </div>
                      <div class="col ml-n2">
                        <h6 class="mb-1">HP Laptop Win10</h6>
                        <small class="text-muted"
                          >Ct, Corona, CA ·
                          <time>September 16 at 11:16am</time></small
                        >
                      </div>
                      <div class="col-auto">
                        <button class="btn btn-sm btn-white">Sign out</button>
                      </div>
                    </div>
                  </div>
                  <div class="list-group-item px-0">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <div class="avatar lg text-center">
                          <i class="zmdi zmdi-desktop-windows h2"></i>
                        </div>
                      </div>
                      <div class="col ml-n2">
                        <h6 class="mb-1">
                          iMac OSX ·
                          <span class="font-weight-normal">Edge browser</span>
                        </h6>
                        <small class="text-muted"
                          >Huntington Station, NY ·
                          <time>October 26 at 5:16pm</time></small
                        >
                      </div>
                      <div class="col-auto">
                        <button class="btn btn-sm btn-white">Sign out</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="setting-faqs" role="tabpanel">
        <div class="row">
          <div class="col-lg-3 col-md-12">
            <div class="mb-4">
              <h6>Useful tips</h6>
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt.
              </p>
              <div class="list-group custom">
                <a class="list-group-item" href="#"
                  ><i class="zmdi zmdi-circle small me-2 text-danger"></i>Lorem
                  ipsum</a
                >
                <a class="list-group-item" href="#"
                  ><i class="zmdi zmdi-circle small me-2 text-info"></i
                  >Consectetuer adipiscing</a
                >
                <a class="list-group-item" href="#"
                  ><i class="zmdi zmdi-circle small me-2 text-primary"></i>Sed
                  diam nonummy</a
                >
                <a class="list-group-item" href="#"
                  ><i class="zmdi zmdi-circle small me-2 text-warning"></i
                  >Euismod tincidunt</a
                >
              </div>
            </div>
            <div class="mb-3">
              <h6>Can't find the answer?</h6>
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt.
              </p>
              <a href="#" class="btn btn-primary">Contact us</a>
            </div>
          </div>
          <div class="col-lg-9 col-md-12">
            <div class="card">
              <div class="card-body">
                <h6>General</h6>
                <div id="demo-gen-faq" class="accordion border-bottom mb-4">
                  <div class="mb-1">
                    <div class="py-2 px-3 bg-light">
                      <a href="#demo-gen-faq1" data-bs-toggle="collapse"
                        >Lorem ipsum dolor sit amet ?</a
                      >
                      <div id="demo-gen-faq1" class="collapse in">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                        elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                        dolore magna aliquam erat volutpat. Ut wisi enim ad
                        minim veniam, quis nostrud exerci tation ullamcorper
                        suscipit lobortis nisl ut aliquip ex ea commodo
                        consequat.
                      </div>
                    </div>
                  </div>
                  <div class="mb-1">
                    <div class="py-2 px-3 bg-light">
                      <a href="#demo-gen-faq2" data-bs-toggle="collapse"
                        >Consectetuer adipiscing elit ?</a
                      >
                      <div id="demo-gen-faq2" class="collapse in py3">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                        elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                        dolore magna aliquam erat volutpat. Ut wisi enim ad
                        minim veniam, quis nostrud exerci tation ullamcorper
                        suscipit lobortis nisl ut aliquip ex ea commodo
                        consequat.
                      </div>
                    </div>
                  </div>
                  <div class="mb-1">
                    <div class="py-2 px-3 bg-light">
                      <a href="#demo-gen-faq3" data-bs-toggle="collapse"
                        >Sed diam nonummy nibh euismod tincidunt ?</a
                      >
                      <div id="demo-gen-faq3" class="collapse">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                        elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                        dolore magna aliquam erat volutpat. Ut wisi enim ad
                        minim veniam, quis nostrud exerci tation ullamcorper
                        suscipit lobortis nisl ut aliquip ex ea commodo
                        consequat.
                      </div>
                    </div>
                  </div>
                  <div class="mb-1">
                    <div class="py-2 px-3 bg-light">
                      <a href="#demo-gen-faq4" data-bs-toggle="collapse"
                        >Tincidunt ut laoreet dolore magna ?</a
                      >
                      <div id="demo-gen-faq4" class="collapse">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                        elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                        dolore magna aliquam erat volutpat. Ut wisi enim ad
                        minim veniam, quis nostrud exerci tation ullamcorper
                        suscipit lobortis nisl ut aliquip ex ea commodo
                        consequat.
                      </div>
                    </div>
                  </div>
                </div>

                <h6>Account</h6>
                <div id="demo-acc-faq" class="accordion mb-4">
                  <div class="mb-1">
                    <div class="py-2 px-3 bg-light">
                      <a href="#demo-acc-faq1" data-bs-toggle="collapse"
                        >Lorem ipsum dolor sit amet ?</a
                      >
                      <div id="demo-acc-faq1" class="collapse in">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                        elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                        dolore magna aliquam erat volutpat. Ut wisi enim ad
                        minim veniam, quis nostrud exerci tation ullamcorper
                        suscipit lobortis nisl ut aliquip ex ea commodo
                        consequat.
                      </div>
                    </div>
                  </div>
                  <div class="mb-1">
                    <div class="py-2 px-3 bg-light">
                      <a href="#demo-acc-faq2" data-bs-toggle="collapse"
                        >Consectetuer adipiscing elit ?</a
                      >
                      <div id="demo-acc-faq2" class="collapse">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                        elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                        dolore magna aliquam erat volutpat. Ut wisi enim ad
                        minim veniam, quis nostrud exerci tation ullamcorper
                        suscipit lobortis nisl ut aliquip ex ea commodo
                        consequat.
                      </div>
                    </div>
                  </div>
                  <div class="mb-1">
                    <div class="py-2 px-3 bg-light">
                      <a href="#demo-acc-faq3" data-bs-toggle="collapse"
                        >Sed diam nonummy nibh euismod tincidunt ?</a
                      >
                      <div id="demo-acc-faq3" class="collapse">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                        elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                        dolore magna aliquam erat volutpat. Ut wisi enim ad
                        minim veniam, quis nostrud exerci tation ullamcorper
                        suscipit lobortis nisl ut aliquip ex ea commodo
                        consequat.
                      </div>
                    </div>
                  </div>
                </div>

                <h6 class="pad-all bord-btm text-thin">Payment</h6>
                <div id="demo-pym-faq" class="accordion">
                  <div class="mb-1">
                    <div class="py-2 px-3 bg-light">
                      <a
                        href="#demo-pym-faq1"
                        data-bs-toggle="collapse"
                        data-parent="#demo-pym-faq"
                        >Lorem ipsum dolor sit amet ?</a
                      >
                      <div id="demo-pym-faq1" class="collapse in">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                        elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                        dolore magna aliquam erat volutpat. Ut wisi enim ad
                        minim veniam, quis nostrud exerci tation ullamcorper
                        suscipit lobortis nisl ut aliquip ex ea commodo
                        consequat.
                      </div>
                    </div>
                  </div>
                  <div class="mb-1">
                    <div class="py-2 px-3 bg-light">
                      <a
                        href="#demo-pym-faq2"
                        data-bs-toggle="collapse"
                        data-parent="#demo-pym-faq"
                        >Consectetuer adipiscing elit ?</a
                      >
                      <div id="demo-pym-faq2" class="collapse in">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                        elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                        dolore magna aliquam erat volutpat. Ut wisi enim ad
                        minim veniam, quis nostrud exerci tation ullamcorper
                        suscipit lobortis nisl ut aliquip ex ea commodo
                        consequat.
                      </div>
                    </div>
                  </div>
                  <div class="mb-1">
                    <div class="py-2 px-3 bg-light">
                      <a
                        href="#demo-pym-faq3"
                        data-bs-toggle="collapse"
                        data-parent="#demo-pym-faq"
                        >Sed diam nonummy nibh euismod tincidunt ?</a
                      >
                      <div id="demo-pym-faq3" class="collapse in">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                        elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                        dolore magna aliquam erat volutpat. Ut wisi enim ad
                        minim veniam, quis nostrud exerci tation ullamcorper
                        suscipit lobortis nisl ut aliquip ex ea commodo
                        consequat.
                      </div>
                    </div>
                  </div>
                  <div class="mb-1">
                    <div class="py-2 px-3 bg-light">
                      <a
                        href="#demo-pym-faq4"
                        data-bs-toggle="collapse"
                        data-parent="#demo-pym-faq"
                        >Tincidunt ut laoreet dolore magna ?</a
                      >
                      <div id="demo-pym-faq4" class="collapse in">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                        elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                        dolore magna aliquam erat volutpat. Ut wisi enim ad
                        minim veniam, quis nostrud exerci tation ullamcorper
                        suscipit lobortis nisl ut aliquip ex ea commodo
                        consequat.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
